{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "importOrder": [ "^@material-ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": [ "jsx" ]
}
